
#teamPage{
    padding-top:100px;
}
img{
    height: 40vh;
     width:90%; 
    /* box-shadow: 10px 10px 5px #1d1b1b; */
    border: 5px solid white;
}

.imgContainer{
width:100%;
background-color: white; 
text-align: center;
}
#pdf{
    z-index:9999;
}
  @keyframes shake {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-2px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(2px, -2px) rotate(1deg); }
    50% { transform: translate(-2px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 2px) rotate(0deg); }
    70% { transform: translate(3px, 2px) rotate(-1deg); }
    80% { transform: translate(-2px, -2px) rotate(1deg); }
    90% { transform: translate(2px, 2px) rotate(0deg); }
    100% { transform: translate(2px, -2px) rotate(-1deg); }
  }
.theBody{
    display: flex;
    flex-direction: row;

}
.theBody>img{
    width:10%;
    height: 10%;
}
.theBody>.mainBody{
    width:90%;
}
body{
    background-color:yellow;
}
.myFooter{
    display: flex;
    justify-content: space-between;
}
.thumbnail{
    position: relative;
    display: block;
    /* -webkit-animation-name: example;   */
    -webkit-animation-duration: 3s;   
    -webkit-animation-fill-mode: both; 
    /* animation-name: anim; */
    animation-duration: 1s;  
    animation-fill-mode: both;
}

